{% load umap_tags static %}

{% include "umap/messages.html" %}
<div id="map">
</div>
<!-- djlint:off -->
<script defer type="module">
    import Umap from '{% static "umap/js/modules/umap.js" %}'
    U.MAP = new Umap("map", {{ map_settings|notag|safe }});
    window.addEventListener('message', (event) => {
            // Verify the origin of the message
            if (event.data.action === 'set-map-transparent') {

                var mapContainer = document.getElementById('map');

                if (mapContainer) {
                    mapContainer.style.background = 'transparent';
                }
                
                U.MAP._leafletMap.eachLayer(function (layer) { if (layer instanceof L.TileLayer) { U.MAP._leafletMap.removeLayer(layer); } });

            } else {
                U.MAP._leafletMap.setView(event.data.center, event.data.zoom, {
                    "animate": false,
                    "pan": {
                        "duration": 0
                    }
                });
            }
        });
</script>
<!-- djlint:on -->
